[project]
	description = test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/iAmAim
[access "refs/for/refs/*"]
	read = group user/iAmAim
	push = group user/iAmAim
	label-Code-Review = -2..+2 group user/iAmAim
	label-Verified = -1..+1 group user/iAmAim
	rebase = group user/iAmAim
	removeReviewer = group user/iAmAim
	submit = group user/iAmAim
[access "refs/heads/*"]
	read = group user/iAmAim
	create = group user/iAmAim
	push = +force group user/iAmAim
	pushMerge = group user/iAmAim
[access "refs/tags/*"]
	push = +force group user/iAmAim
	pushTag = group user/iAmAim
	pushSignedTag = group user/iAmAim
